.login-input{
    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 30%;
    height: 2.5em;
}
form > div{
    text-align: center;
    padding: 5px;
}

.btn.login-btn{
	width: 20%;
    height: 2.5em;
}